
h1, h2, h3, h4, h5, h6 {
	margin: 0 0;
	line-height: 1.05em;
	font-weight: 200;
}

.top-bar-container {
	margin:0 0 0 0;
}
.top-bar .name h1 a {
	font-weight: 200;
	text-transform: uppercase;
	margin: 0;
	// margin-top: rem-calc(20);
	// margin-bottom: rem-calc(50);
}

.top-bar-section {
	padding: 0 0;
}

h1.art {
	padding: rem-calc(33) 0;
	border-top: 1px solid #cecfc7;
	text-transform: uppercase;
}

.art-info *{
	font-weight:200;
}
.art-info div {
	line-height:1;
	margin:0 0 16px 0;
}

.orbit-container .orbit-slide-number span, .orbit-container .orbit-slide-number {
	font-weight: 400;
	font-size: rem-calc(16);
}

.counter {text-align: center;}
.top-bar-section li.active:not(.has-form) a:not(.button),
.top-bar-section li.active:not(.has-form) a:hover:not(.button){
	background: #fff!important;
	color: #929388!important;
}

.top-bar-container, .tab-bar {
	margin-bottom: rem-calc(16);
}

.top-bar .name {
	h1 a { font-weight: 200; }
}

.top-bar-section li.active:not(.has-form) a:not(.button)  {
	background: #272727;
}
.top-bar-section li.active:not(.has-form) a:hover:not(.button) {
	background: #202020;
}
h2.title {
	margin-bottom: 20px!important;
}
.art-nav{ width: 100%;}
.previous-art{float:left;}
.next-art{float:right}
.next-art a, .previous-art a {color:inherit}
.art-meta{line-height: 22px; text-transform: lowercase;font-weight:200;margin-bottom: 20px;}
.piece-count {
	
}
.piece-count a{
	color: $mycolor;
	font-weight:200;
}
p.series-title  {
	margin: 0 0 6px 0;
    font-size: rem-calc(20px);
    font-weight:200;
}
.series-title a {
	color: $mycolor;
}
